.gen-title {    
    font-family: Helvetica;
    font-size: 23px;
    margin-top: 80px;
    margin-left: 68px;
}

.info-title {
    font-family: Calibri;
    font-size: 20px;
    margin-left: 68px;
    margin-bottom: -10px;
    /* text-decoration: underline; */
}

.info {
    font-family: calibri;
    margin: 15px 150px 0px 68px;
    font-size: 19px 
}

body {
    background-color: #add7f6;
}