.announcements {
    margin-left: 20px;
}

.card-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 10px 20px -5px 20px;
}


.announcement-box {
    height: 250px;
    width: 880px;
    border: 1px solid;
    border-radius: 15px;
    background-color: lightgreen;
}

.announcements-content {
    margin-left: 20px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    height: 180px;
    overflow: auto;
    /* padding: 5px 10px 5px 0px; */
}

/* .announcements-content::-webkit-scrollbar {
    width: 0;
} */

.ann-date {
    margin-left: 15px;
    margin-top:-20px;
    font-size: 14px;
}